

.login_container{
    height: 100vh;
    width: 100vw;
    background-color:rgb(50, 50, 116);
}
.heading{
    
position: absolute;
width: 279px;
height: 78px;
left: 305px;
top: 50px;
font-family: 'DM Sans';
font-style: normal;
font-weight: 500;
font-size: 60px;
line-height: 78px;
color: #FFFFFF;
}
.subheading{
    position: absolute;
    width: 642px;
    height: 33px;
    left: 308px;
    top: 160px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 33px;
    /* identical to box height */  
    color: #FFFFFF;   
}
.login_box2{
    position: absolute;
    width: 600px;
    height: 300px;
    left: 300px;
    top: 250px;
 background-color:  #FFFFFF;
    box-shadow: 0px 4px 36px rgba(0, 0, 0, 0.25);
    border-radius: 33px;
}
.login_btn{
    position: absolute;
width: 150px;
height: 44.19px;
left: 400px;
top: 230px;
background-color: #36416A;
border-radius: 27.907px;
}
.login_email{
    position: absolute;
width: 232px;
height: 20px;
left: 100px;
top: 80px;
font-family: 'DM Sans';
font-style: normal;
font-weight: 500;
border: none;
font-size: 20px;
line-height: 26px;
color: #737373;
}
.login_password{
    position: absolute;
width: 232px;
height: 20px;
left: 100px;
top: 130px;
border: none;
font-family: 'DM Sans';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 26px;
color: #737373;
}
.span1{
    position: absolute;
width: 222px;
height: 26px;
left: 60px;
top: 200px;
font-family: 'DM Sans';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 26px;
/* identical to box height */
color: #737373;

}
.span2{
    position: absolute;
width: 222px;
height: 26px;
left: 260px;
top: 200px;
font-family: 'DM Sans';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 26px;
/* identical to box height */
color: #737373;
}
/* responsive Design */
@media (max-width:900px){
    .login_container{
        position: absolute;
        height: 100vh;
        width: 100vw;
        background-color:#FFFFFF;
        left: -200px;
    }.login_box2{
   
        width: 350px;
        height: 300px;
        left: 300px;
        top: 250px;
    }
    .login_btn{
        position: absolute;
    width: 150px;
    height: 44.19px;
    left: 150px;
    top: 230px;
  
    }
    .subheading{
        position: absolute;
        width: 300px;
        height: 33px;
        left: 308px;
        top: 100px;}
        .heading{
    
          
            width: 279px;
            height: 78px;
            left: 305px;
            top: 10px;}}